@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;

}

.left {
    width: 25vw;
}

.right {
    width: 75vw;
}

.home ul li {
    list-style: none;
    width: 20px;
    display: flex;
    gap: 15px;
    padding: 10px 18px 10px 18px;
}
.library{
    max-height: 75vh;
    overflow-y: scroll;
}
.library ul {
    display: flex;
    width: 100px;
    list-style: none;
}

.library ul li img {
    width: 20px;
}

.library ul {
    width: 170px;
}

.library ul li {
    list-style: none;
    width: 155px;
    display: flex;
    gap: 15px;
    padding: 10px 18px 25px 18px;
}

.cont{
    max-height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.btn {
    /* border: 2px solid white; */
    border: none;
    background-color: white;
    padding: 6px 15px;
    border-radius: 30px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}

.btn1 {
    border: 1px solid white;

    background-color: #121212;
    color: white;
    padding: 6px 15px;
    border-radius: 30px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}

span {
    font-size: 13px;
    margin: 7px;
    color: #b4afaf;
}
.c{
    margin-top: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #0c0c0c;
    align-items: center;
    padding: 10px 20px;
}

.signupbtn {
    background: none;
    color: rgb(179, 177, 177);
    border: none;
    font-weight: bold;
    font-size: 17px;
    /* margin: 10px; */
    padding: 15px 30px;
    cursor: pointer;
}

.loginbtn {
    border: none;
    background-color: white;
    border-radius: 30px;
    font-weight: bold;
    /* margin: 10px; */
    padding: 15px 30px;
    cursor: pointer;
}

.svg {
    /* border: 2px solid white; */
    padding: 5px;
    border-radius: 50px;
    background-color: black;
}

.signupbtn:hover {
    color: white;
    font-size: 18px;
}

.spotify-playlists {
    padding: 10px;
    max-height: 82vh;
    overflow-y: scroll;
}

.cardcontainer {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    
}

.card {
    /* border: 2px solid red; */
    width: 160px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(48, 48, 48);
    position: relative;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play i{
    color: black;
    /* border-radius: 30px; */
    border-radius: 60%;
    border: none;
    font-size: 30px;
    background-color: green;
    /* padding: 10px; */
    position: absolute;
    top: 135px;
    right: 20px;
}
.playbar{
    display: flex;
    justify-content: center;
    width: 70vw;
    background-color: rgb(120, 126, 120);
    padding: 12px;
    color: white;
}