.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify{
    justify-content: center;
}
.justifyspace{
    justify-content: space-between;
}
.alignitem{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 8px;
}
.m-1{
    margin: 7px;
}
.m-2{
    margin: 10px;
}
.p-1{
    padding: 10px;
}
.bg-2{
    background-color: #212121;
}
.point{
    cursor: pointer;
}
.wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

::-webkit-scrollbar{
    width: 10px;
}
.library::-webkit-scrollbar{
    width: 5px;
}
.cont::-webkit-scrollbar{
    width: 1px;
}
::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background-color: #222;
}